*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}
.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
}
.logo{
  width: 200px;
}
nav{
  flex:1;
  text-align: right;
}
nav ul{
  display: inline-block;
  list-style-type: none;
}
nav ul li{
  display: inline-block;
  margin-right: 20px;
}
a{
  text-decoration: none;
  color: #555;
}
p{
  color: #555;
}
.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2{
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img{
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.btn{
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover{
  background: #563434;
}
.header{
  background: radial-gradient(#fff,#ffd6d6)
}
.header .row{
  margin-top: 70px;
}
.categories{
  margin: 70px 0;
}
.col-3{
  min-width: 25px;
  margin-bottom:20px;
  padding-left: 20px;
  padding-right: 20px;
  transition: transform 0.5s;
}
.brand{
  background-color: #FCE9F1;
}
.col-3 img{
margin-top: 25px;
}
.small-container{
  max-width: 100%;
  padding-left: 25px;
  padding-right: 25px;
}
.col-4{
  min-width: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  transition: transform 0.5s;
}
.col-4 img{
  width: 200px;
  margin-top: 25px;
}
.title{
  text-align: center;
  margin: 0 auto;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after{
  content: '';
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.trend{
  text-align: center;
  margin: 0 auto;
  position: relative;
  line-height: 30px;
  color: #555;
  margin-top: 10px;
}
.trendd{
  text-align: center;
  margin: 0 auto;
  position: relative;
  line-height: 30px;
  color: #555;
  margin-bottom: 10px;
}
h4{
  color: #555;
  font-weight: normal;
}
.Color{
  font-size: 15px;
  padding: 0 15%;
}
.col-4 p{
  font-size: 14px;
}
.rating .fa{
  color: #ff523b,black;
}
.col-4:hover{
  transform: translateY(-5px);
}
.col-3:hover{
  transform: translateY(-5px);
}
.del {
  width: auto;
  text-align: center;
  padding: 10px;
}
.row-1{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #080202;
  margin-bottom: 25px;
  margin-top: 25px;
}
.col-7{
  flex-basis: 16%;
  margin: 10px 0;
  transition: transform 0.5s;
}
.col-7:hover{
  transform: translateY(-5px);
}
.quantity{
  margin: 10px;
}
.col-1 p{
  margin-left: 25px;
}
.col-1{
  transition: transform 0.5s;
}
.col-1:hover{
  transform: translateY(-5px);
}
.benfits{
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}
.col-5{
  transition: transform 0.5s;
}
.col-5 img{
  margin-top: 25px;
  transition: transform 0.5s;
}
.col-5:hover{
  transform: translateY(-5px);
}
.col-6{
  transition: transform 0.5s;
}
.col-6 img{
  margin-top: 25px;
}
.col-6:hover{
  transform: translateY(-5px);
}
.col-8{
  transition: transform 0.5s;
}
.col-8 img{
  align-items: center;
  width: 300px;
  margin-top: 30px;
  margin-bottom: 25px;
}
.col-8:hover{
  transform: translateY(-5px);
}
.special{
  margin-top: 25px;
  margin-bottom: 25px;
}
.hidden{
  background-color: #F7FFE5;
}
.season{
   background-color:#FFECEC;
}
.small-container{
  background-color: #F8F6F4;
}
.benfits{
  background-color: #F9F5EB;
  margin-bottom: 25px;
}
.footer{
  background:#000;
  color: #8a8a8a ;
  font-size: 14px;
  padding: 40px 0 20px;
  margin-left: 25px;
  margin-right: 25px;
}
.footer p{
  color: #8a8a8a;
}
.footer h3{
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1, .footer-col-2,.footer-col-3,.footer-col-4{
  min-width: 200px;
  margin-bottom: 20px;
}
.footer-col-1{
  flex-basis: 30%;
}
.footer-col-2{
  flex:1;
  text-align: center;
}
.footer-col-2 img{
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-3,.footer-col-4{
  flex-basis: 12%;
  text-align: center;
}
ul{
  list-style-type: none;
}
.app-logo{
  margin-top: 20px;
}
.app-logo img{
  width: 140px;
}
.footer hr{
  border: none;
  background: #b5b5b5;
  height: 1px;
  margine: 20px 0;
}
.copy{
  text-align: center;
}
.menu-icon{
  width: 28px;
  margin-left: 20px;
  display: none;
}
/*-------PRODUCTS-------*/

.col-a{
  min-width: 10px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.col-a img{
  width: 230px;
}
.col-a h4{
  margin-bottom: 25px;
}
.footer2{
  background:#000;
  color: #8a8a8a ;
  font-size: 14px;
  margin-left: 25px;
  margin-right: 25px;
}
.page-btn{
  margin: 0 auto 80px;
  text-align: center;
}
.page-btn span{
  display: inline-block;
  border: 1px solid #ff523b;
  margin-left:10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.page-btn span:hover{
  background: #ff523b;
  color: #fff;
}
/*profile page*/
.profile-page{
  background: radial-gradient(#fff,#ffd6d6);
}
.form-container{
  background: #fff;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
  overflow: hidden;
}
.form-container span{
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}
.form-btn{
  display: inline-block;
}
.form-container form{
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  transition: transform 1s;
}
form input{
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}
form .btn{
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}
form .btn:focus{
  outline: none;
}
#loginform{
  left: -300px;
}
#reform{
  left: 0;
}
form a{
  font-size: 12px
}
#indicator{
  width: 100px;
  border: none;
  background: #ff523b;
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
  transition: transform 1s;
}

/*media query for menu*/
@media only screen and (max-width:800px){
  nav ul{
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li{
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a{
    color: #fff;
  }
  .menu-icon{
    display: block;
    cursor: pointer;
  }
}
/*media query for screens less than 600*/
@media only screen and (max-width:800px){
  .row{
    text-align: center;
  }
  .col-2,.col-3,.col-4,.col-6,.col-7,.col-8{
    flex-basis: 100%;
  }
}
